.Login {
  width: 50%;
}

.Login .H3 {
  text-align: center;
  color: grey;
}

.Login .FormButton {
  /* margin-left: 5%; */
  margin-bottom: 10px;
}

.Login .FormDiv {
  width: 80%;
  margin: auto;
}
